<h1 mat-dialog-title>Neuer Termin</h1>
<div mat-dialog-content>
  <table>
    <table>
      <tbody>
        <tr>
          <td colspan="2" align="center">
            <mat-form-field>
              <mat-label>Title</mat-label>
              <input
                matInput
                type="text"
                [(ngModel)]="event.title"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            Start:
          </td>
          <td>
            <input
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.start"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
        </tr>
        <tr>
          <td>
            Ende:
          </td>
          <td>
            <input
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.end"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
        </tr>
        <tr>
          <td>
            Primärfarbe:
          </td>
          <td align="right">
            <input
              type="color"
              [(ngModel)]="event.color!.primary"
            />
          </td>
        </tr>
        <tr>
          <td>
            Sekundärfarbe:
          </td>
          <td align="right">
            <input
              type="color"
              [(ngModel)]="event.color!.secondary"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="Add">Hinzufügen</button>
  <button mat-button mat-dialog-close="Cancel">Abbrechen</button>
</div>
