<h1 mat-dialog-title>Neuer Termin</h1>
<div mat-dialog-content>
  <table [formGroup]="form">
    <tbody>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="event.title"
              formControlName="title"
              required
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field
            appearance="outline"
            class="color-selector"
            (click)="colorPrimary.click()"
          >
            <input
              #colorPrimary
              matInput
              type="color"
              [(ngModel)]="event.color!.primary"
              formControlName="colorPrimary"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr *ngIf="!checkRepeat.checked">
        <td colspan="2" align="center">
          <mat-form-field appearance="fill">
            <mat-label>Zeitraum</mat-label>
            <input
              matInput
              type="text"
              mwlFlatpickr
              [(ngModel)]="dateRange"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              [time24hr]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
              formControlName="range"
              [mode]="'range'"
            />
          </mat-form-field>
        </td>
      </tr>
      <ng-container *ngIf="checkRepeat.checked">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Start</mat-label>
              <input
                matInput
                type="date"
                mwlFlatpickr
                [altInput]="true"
                [convertModelValue]="true"
                dateFormat="Y-m-d"
                altFormat="F j, Y"
                [time24hr]="true"
                placeholder="Not set"
                [(ngModel)]="dateRange.from"
                [(ngModel)]="dateRange.to"
                formControlName="start"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Tage</mat-label>
              <mat-select
                formControlName="days"
                [(ngModel)]="event.repeat!.days"
                multiple
              >
                <mat-option
                  *ngFor="let day of days"
                  [value]="day.key"
                  [disabled]="isCurrentDay(day.key)"
                >
                  {{ day.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Beginn</mat-label>
              <input
                matInput
                type="datetime"
                mwlFlatpickr
                [altInput]="true"
                [convertModelValue]="true"
                dateFormat="H:i"
                altFormat="H:i"
                placeholder="Not set"
                [noCalendar]="true"
                [enableTime]="true"
                [time24hr]="true"
                formControlName="startTime"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Ende</mat-label>
              <input
                matInput
                type="datetime"
                mwlFlatpickr
                [altInput]="true"
                [convertModelValue]="true"
                dateFormat="H:i"
                altFormat="H:i"
                placeholder="Not set"
                [noCalendar]="true"
                [enableTime]="true"
                [time24hr]="true"
                [minDate]="minTime()"
                formControlName="endTime"
              />
            </mat-form-field>
          </td>
        </tr>
      </ng-container>
      <tr>
        <td [colSpan]="checkRepeat.checked ? 1 : 2" align="center">
          <mat-checkbox formControlName="repeat" #checkRepeat
            >Wiederholen</mat-checkbox
          >
        </td>
      </tr>
      <tr *ngIf="checkRepeat.checked">
        <td>
          <mat-slide-toggle #toggleRepeat formControlName="toggle">{{
            toggleRepeat.checked ? "Anzahl:" : "Deadline"
          }}</mat-slide-toggle>
        </td>
        <td *ngIf="toggleRepeat.checked">
          <mat-form-field appearance="fill">
            <mat-label>Anzahl</mat-label>
            <input
              matInput
              type="number"
              formControlName="count"
              min="1"
              [(ngModel)]="event.repeat!.repeating"
            />
          </mat-form-field>
        </td>
        <td *ngIf="!toggleRepeat.checked">
          <mat-form-field appearance="fill">
            <mat-label>Deadline</mat-label>
            <input
              matInput
              type="datetime"
              mwlFlatpickr
              [altInput]="true"
              [convertModelValue]="true"
              [(ngModel)]="event.repeat!.repeating"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Deadline"
              formControlName="deadline"
              [minDate]="minTime()"
            />
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="Add" [disabled]="!isFormValid()">
    Hinzufügen
  </button>
  <span class="spacer"></span>
  <button mat-button mat-dialog-close="Cancel">Abbrechen</button>
</div>
