@import "../../../styles/styles_variables.scss";

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  align-items: stretch;
}

::ng-deep.widget-list {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

::ng-deep.app-card {
  padding: 24px;

  h2 {
    display: inline;
  }
}

::ng-deep.repeat-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;

  & p {
    font-style: italic;
    opacity: 0.75;
  }
}

::ng-deep.alternate-habit-list {
  margin-bottom: 16px !important;
  border-radius: 8px;

  & ::ng-deep.mat-expansion-panel-header {
    height: 48px;
    border-radius: 8px;
  }

  & ::ng-deep.mat-expansion-panel-body {
    padding: 0 24px 16px;
  }
}

::ng-deep.actions {
  text-align: right;
}

::ng-deep.color-label {
  display: inline-block;
  height: 16px;
  width: 15px;
  border-radius: 50%;
  margin-right: 12px;

  & ~ *:not(h2) {
    margin-left: 28px !important;
  }
}

::ng-deep.event-time {
  opacity: 0.5;
}

::ng-deep.undefined-description {
  font-style: italic;
  opacity: 0.75;
}
