@import '../../../styles/styles_variables.scss';

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  align-items: stretch;
}

::ng-deep.widget-list {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

::ng-deep.app-card {
  padding: 24px;

  h2 {
    display: inline;
  }
}

::ng-deep.repeat-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 16px;
}

::ng-deep.actions {
  text-align: right;
}

::ng-deep.color-label {
  display: inline-block;
  height: 16px;
  width: 15px;
  border-radius: 50%;
  margin-right: 12px;

  & ~ *:not(h2) {
    margin-left: 28px !important;
  }
}

::ng-deep.event-time {
  opacity: 0.5;
}

::ng-deep.day-list {
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
  border: 1px solid;
  border-radius: 32px;

  & span {
    text-align: center;
    border-radius: 50%;
    padding: 8px;
    width: 20px;
  }

  & .active-day {
    background-color: $defaultPrimary;
    color: white;
  }
}
