
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CalenDoIt-primary: mat.define-palette(mat.$teal-palette);
$CalenDoIt-accent: mat.define-palette(mat.$gray-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$CalenDoIt-warn: mat.define-palette(mat.$red-palette);

$CalenDoIt-success: mat.define-palette(mat.$green-palette);
$CalenDoIt-information: mat.define-palette(mat.$orange-palette);

$progressBar: mat.get-color-from-palette($CalenDoIt-primary, 500);
$progressBarActive: mat.get-color-from-palette($CalenDoIt-accent, darker);
$progressBarActiveStart: mat.get-color-from-palette($CalenDoIt-accent, 600);
$progressBarInactive: mat.get-color-from-palette($CalenDoIt-primary, 800, 0.75);

$isActiveColor: mat.get-color-from-palette($CalenDoIt-accent, darker);
$defaultPrimary: mat.get-color-from-palette($CalenDoIt-primary, default);

$defaultInformation: mat.get-color-from-palette($CalenDoIt-information, default);

