<!-- Show the already created habits -->
<div class="container">
  <div *ngFor="let habit of habits" class="app-card item">
    <h3>{{ habit.title }}</h3>
    <div>
      DESCRIPTION
    </div>
    <div>
      TIMESPAN
    </div>
    <table>
      <tr>
        <td>Ideale Zeit:</td>
        <td>{{ habit.idealTime | date:"HH:mm" }} Uhr</td>
      </tr>
      <tr>
        <td>Dauer:</td>
        <td>{{ habit.duration }} Minuten</td>
      </tr>
    </table>
    <div>
      SELECTION
    </div>
    <div>
      ACTIONS
    </div>
  </div>
</div>
