.container {
    width: 100%;
}

.item {
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    justify-content: space-between;
    align-items: baseline;

    & table tr > td {
        text-align: right;
    }
}