<h1 mat-dialog-title>Termin Bearbeiten</h1>
<div mat-dialog-content>
  <table [formGroup]="form">
    <tbody>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="event.title"
              formControlName="title"
              required
              (keyup)="data.refresh.next()"
            />
          </mat-form-field>
        </td>
        <td align="right">
          <button mat-flat-button color="warn" mat-dialog-close="Delete">
            Löschen
          </button>
        </td>
      </tr>
      <tr *ngIf="!checkRepeat.checked">
        <td>Zeitraum:</td>
        <td>
          <input
            type="text"
            mwlFlatpickr
            [(ngModel)]="dateRange"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            [time24hr]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
            formControlName="range"
            [mode]="'range'"
            (ngModelChange)="data.refresh.next()"
          />
        </td>
      </tr>
      <ng-container *ngIf="checkRepeat.checked">
        <tr>
          <td>Start:</td>
          <td>
            <input
              type="text"
              mwlFlatpickr
              [altInput]="true"
              [convertModelValue]="true"
              dateFormat="Y-m-d"
              altFormat="F j, Y"
              [time24hr]="true"
              placeholder="Not set"
              formControlName="start"
              (ngModelChange)="data.refresh.next()"
            />
          </td>
        </tr>
        <tr>
          <td>Beginn:</td>
          <td>
            <input
              type="text"
              mwlFlatpickr
              [altInput]="true"
              [convertModelValue]="true"
              dateFormat="H:i"
              altFormat="H:i"
              placeholder="Not set"
              [noCalendar]="true"
              [enableTime]="true"
              [time24hr]="true"
              formControlName="startTime"
              (ngModelChange)="data.refresh.next()"
            />
          </td>
        </tr>
        <tr>
          <td>Ende:</td>
          <td>
            <input
              type="text"
              mwlFlatpickr
              [altInput]="true"
              [convertModelValue]="true"
              dateFormat="H:i"
              altFormat="H:i"
              placeholder="Not set"
              [noCalendar]="true"
              [enableTime]="true"
              [time24hr]="true"
              [minDate]="minTime()"
              formControlName="endTime"
              (ngModelChange)="data.refresh.next()"
            />
          </td>
        </tr>
      </ng-container>
      <tr>
        <td>Primärfarbe:</td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color!.primary"
            formControlName="colorPrimary"
            (ngModelChange)="data.refresh.next()"
          />
        </td>
      </tr>
      <tr>
        <td>Sekundärfarbe:</td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color!.secondary"
            formControlName="colorSecondary"
            (ngModelChange)="data.refresh.next()"
          />
        </td>
      </tr>
      <tr>
        <td [colSpan]="checkRepeat.checked ? 1 : 2" align="center">
          <mat-checkbox formControlName="repeat" #checkRepeat
            >Wiederholen</mat-checkbox
          >
        </td>
        <td *ngIf="checkRepeat.checked">
          <mat-form-field appearance="fill">
            <mat-label>Tage</mat-label>
            <mat-select
              formControlName="days"
              [(ngModel)]="event.repeat!.days"
              multiple
            >
              <mat-option
                *ngFor="let day of days"
                [value]="day.key"
                [disabled]="isCurrentDay(day.key)"
              >
                {{ day.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr *ngIf="checkRepeat.checked">
        <td>
          <mat-slide-toggle #toggleRepeat formControlName="toggle">{{
            toggleRepeat.checked ? "Anzahl:" : "Deadline"
          }}</mat-slide-toggle>
        </td>
        <td *ngIf="toggleRepeat.checked">
          <mat-form-field>
            <mat-label>Anzahl</mat-label>
            <input
              matInput
              type="number"
              formControlName="count"
              min="1"
            />
          </mat-form-field>
        </td>
        <td *ngIf="!toggleRepeat.checked">
          <input
            type="text"
            mwlFlatpickr
            [altInput]="true"
            [convertModelValue]="true"
            [(ngModel)]="event.repeat!.repeating"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Deadline"
            formControlName="deadline"
            [minDate]="minTime()"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="Save" [disabled]="!form.valid">
    Speichern
  </button>
  <span class="spacer"></span>
  <button mat-button mat-dialog-close="Cancel">Abbrechen</button>
</div>
