.container{
  padding: 8px;
}

.calendar {
  padding: 0px;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.action-container {
  margin-top: -72px;
  position: sticky;
  bottom: 16px;
  float: right;
}

.button-add {
  position: relative;
  right: 16px;
}

.cal-habit-title {
  text-decoration: underline dotted 4px;
}
