.container{
  padding: 8px;
  height: 100%;
}

.calendar {
}

.calendar-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.action-container {
  margin-top: -72px;
  position: sticky;
  bottom: 16px;
  float: right;
}

.button-add {
  position: relative;
  right: 16px;
}