<!--planner input-->
<div class="container">
  <form>
    <mat-form-field>
      <mat-label>Event</mat-label>
      <input #inputEvent matInput type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <input #inputDescription matInput type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Deadline</mat-label>
      <input #inputDatedeadline matInput type="date" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Startdatum</mat-label>
      <input #inputDatebeginn matInput type="date" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enddatum</mat-label>
      <input #inputDateend matInput type="date" />
    </mat-form-field>
    <button
      mat-flat-button (click)="addEvent(inputDatedeadline.value, inputDatebeginn.value, inputDateend.value, inputEvent.value, inputDescription.value)">
      Enter
    </button>
  </form>
  <!--planner output (habits overview)-->
  <div class="view-container">
    <div *ngFor="let event of events">
      <h3>Event: {{ event.title }}</h3>
      <p>Beschreibung: {{ event.description }}</p>
      <div>Deadline: {{ event.deadline | date }}</div>
      <div>Startdatum: {{ event.begin | date }}</div>
      <div>Enddatum: {{ event.end | date }}</div>
      <br>
    </div>
  </div>
</div>
